body {
    background:#E6E6E6;
    font-family: arial;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

#container {
    background: #f2f2f2;
    width: 90%
    margin: -10px auto;
    overflow: hidden;
    padding: 10px;
}